/*CV button*/

.moving-zone {
    position: absolute;
    left:40%;
    /*width:35px; height:120px;*/
    width: 2vw;
    height: 14vh;
    /*margin: -60px 0 0 -150px;*/
    perspective: 800px;
}
.popup {
    width:23vw;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px 0 20px 0;
    cursor: pointer;
    transform-style: preserve-3d;
    background: -webkit-linear-gradient(top left, white 50%, #be29ec 50%);
    background:    -moz-linear-gradient(top left, white 50%, #be29ec 50%);
    background:     -ms-linear-gradient(top left, white 50%, #be29ec 50%);
    background:      -o-linear-gradient(top left, white 50%, #be29ec 50%);
    background:         linear-gradient(top left, white 50%, #be29ec 50%);
}
.popup:before {
    content: '';
    position: absolute;
    left:5%; top:5%;
    width:90%; height:90%;
    border-radius: inherit;
    background: rgba(0,0,0,.1);
    box-shadow: 0 0 40px 20px rgba(0,0,0,.1);
    transform: translateZ(-100px);
}
.popup-content {
    background: #666666;
    padding: 1vw;
    box-sizing: border-box;
    border-radius: 10px 0 10px 0;
}
.popup-text {
    color: white;
    font-family: 'Rafale BG.otf', sans-serif;
    font-size: 1.5vw;
    line-height: 30px;
    font-weight: 100;
    text-align: center;
    transform: translateZ(15px);
}
.popup-text b {
    color: #be29ec;
    font-weight: bold;
}
/*CV button end*/