@font-face {
    font-family: 'newone.ttf';
    src: url('../localFonts/newone.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'newfont2';
    src: url('../localFonts/newfont2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ikaros-Regular.otf';
    src: url('../localFonts/Ikaros-Regular.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Azedo-Bold.otf';
    src: url('../localFonts/Azedo-Bold.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rispa-Bold.otf';
    src: url('../localFonts/Rispa-Bold.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ElegantLux-Mager.otf';
    src: url('../localFonts/ElegantLux-Mager.otf') format('woff');
    font-weight: bold;
    font-style: normal;
}