@font-face {
    font-family: 'Reckoner.ttf';
    src: url('../localFonts/Reckoner.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'Akula.woff';
    src: url('../localFonts/Akula.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ikaros-Regular.otf';
    src: url('../localFonts/Ikaros-Regular.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'INKFERNO.ttf';
    src: url('../localFonts/INKFERNO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Azedo-Bold.otf';
    src: url('../localFonts/Azedo-Bold.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rispa-Bold.otf';
    src: url('../localFonts/Rispa-Bold.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ElegantLux-Mager.otf';
    src: url('../localFonts/ElegantLux-Mager.otf') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Rafale BG.otf';
    src: url('../localFonts/Rafale BG.otf') format('woff');
    font-weight: bold;
    font-style: normal;

}