/*letter drop*/
.letterDrop {

    display: inline-block;
    opacity: 0.8;
    transform: rotateX(-90deg);
    animation: letterDrop 1.3s ease 1 normal forwards;
}

@keyframes letterDrop {
    10% {
        opacity: 0.5;
    }
    20% {
        opacity: 0.8;
        top: 3.75em;
        transform: rotateX(-360deg);
    }
    100% {
        opacity: 1;
        top: 4.50em;
        transform: rotateX(360deg);
    }
}


span:nth-child(2n) {
    color: #663399;
}
.main {
    /*margin-top: 20%;*/
    text-align: center;
    font-family: 'Rafale BG.otf', sans-serif;
    font-size: 5vw;
    /*position:absolute; top:0; bottom:0; left:0; right:0;*/
    /*margin:auto; height:240px; width:70%;*/
    color: #666666;
    /*text-transform: uppercase;*/
}
/*letter drop end*/
.main2 {
    visibility: hidden;
    opacity: 0;
    text-align: center;
    font-family: 'Rafale BG.otf', sans-serif;
    font-size: 5vw;
    color: #666666;
}
.main2show {
    visibility: visible;
    opacity: 1;
}
.main3 {
    visibility: hidden;
    text-align: center;
    font-family: 'Rafale BG.otf', sans-serif;
    font-size: 5vw;
    color: #666666;
}
.main3show {
    visibility: visible;
    opacity: 1;
}