html, body {
    background: #FFFFFF;
    margin: 0;
    padding: 0;
    height: 100%;
}
/*hamburger*/


/*nav section*/
a, a:visited {
    outline: medium none;
    text-decoration: none;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
}

.nav {
    width: 100%;
    text-align: center;
}
.nav li {
    display: inline-block;
    overflow: hidden;
}
.navbar-nav li a {
    /*margin-top: 3%;*/
    display: block;
    /*word-spacing: -5px;*/
    font: 30px 'Rafale BG.otf', sans-serif;
    /*padding: 5px 20px;*/
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    color: #666666;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
#bs-example-navbar-collapse-1:hover li a{
    color: transparent;
    text-shadow: 0px 0px 10px black; /* Other links blur color */
    -webkit-transform: skew(0deg);
    -moz-transform: skew(0deg);
    -o-transform: skew(0deg);
    -ms-transform: skew(0deg);
    transform: skew(0deg);

}
#bs-example-navbar-collapse-1 li a:hover{
    text-outline: 1px black;
    background: transparent;
    color: white;
    transform: scale(1.1);
}
#bs-example-navbar-collapse-1 li a:hover, #bs-example-navbar-collapse-1 li a:active {
    color: #be29ec;
    text-decoration: none;
}
#nav_bar {
    opacity: 0.8;
    background-color: #666666;
    border-color: #666666;
}
#bs-example-navbar-collapse-1 {
  margin-left: 120px;
}

/*nav section end*/
#first {
    margin-top: 10%;
}
#secend {
    margin-top: 200%;
    padding-bottom: 5%;
}
#third {
    padding-bottom: 5%;
}
.main{
    /*margin-top: 20%;*/
    text-align: center;
    font-family: 'Rafale BG.otf', sans-serif;
    font-size:9em;
    /*position:absolute; top:0; bottom:0; left:0; right:0;*/
    /*margin:auto; height:240px; width:70%;*/
    color:#666666;
    text-transform: uppercase;

    -webkit-animation: floating-text 2s ease alternate infinite;
    -moz-animation: floating-text 2s ease alternate infinite;
    -ms-animation: floating-text 2s ease alternate infinite;
    -o-animation: floating-text 2s ease alternate infinite;
    animation: floating-text 3s;
}
@-webkit-keyframes floating-text {
    0% {
        -webkit-transform: translateY(.1em);
        text-shadow:0 0 .5em rgba(255,255,255,.4),
        0 0 .2em rgba(0,0,0,.3),
        0 .3em .2em rgba(0,0,0,.3);

    }
    100% {
        text-shadow:0 0 .5em rgba(255,255,255,.4),
        0 0 .2em rgba(0,0,0,.3),
        0 .5em .5em rgba(0,0,0,.3);
    }
}
@-moz-keyframes floating-text {
    0% {
        -moz-transform: translateY(.1em);
        text-shadow:0 0 .5em rgba(255,255,255,.4),
        0 0 .2em rgba(0,0,0,.3),
        0 .3em .2em rgba(0,0,0,.3);

    }
    100% {
        text-shadow:0 0 .5em rgba(255,255,255,.4),
        0 0 .2em rgba(0,0,0,.3),
        0 .5em .5em rgba(0,0,0,.3);
    }
}
@-ms-keyframes floating-text {
    0% {
        -ms-transform: translateY(.1em);
        text-shadow:0 0 .5em rgba(255,255,255,.4),
        0 0 .2em rgba(0,0,0,.3),
        0 .3em .2em rgba(0,0,0,.3);

    }
    100% {
        text-shadow:0 0 .5em rgba(255,255,255,.4),
        0 0 .2em rgba(0,0,0,.3),
        0 .5em .5em rgba(0,0,0,.3);
    }
}
@-o-keyframes floating-text {
    0% {
        -o-transform: translateY(.1em);
        text-shadow:0 0 .5em rgba(255,255,255,.4),
        0 0 .2em rgba(0,0,0,.3),
        0 .3em .2em rgba(0,0,0,.3);

    }
    100% {
        text-shadow:0 0 .5em rgba(255,255,255,.4),
        0 0 .2em rgba(0,0,0,.3),
        0 .5em .5em rgba(0,0,0,.3);
    }
}
@keyframes floating-text {
    0% {
        /*transform: translateY(.3em);*/
        text-shadow: 0 0 .5em rgba(255, 255, 255, .4),
        0 0 .2em rgba(0, 0, 0, .3),
        0 .3em .1em rgba(0, 0, 0, .3);
    }
    100% {
        text-shadow:0 0 .5em rgba(255,255,255,.4),
        0 0 .2em rgba(0,0,0,.3),
        0 .5em .4em rgba(0,0,0,.3);
    }
}
canvas {
    position: absolute;
    width: 100%;
    /*height: 100%;*/
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}


/*call to action*/
figure{
    position: absolute;
    top: 67%;
    left:34vw;
    z-index: 5;
    width:30vw;
    height:6vh;
    cursor:pointer;
    perspective:500px;
}
figure div{
    height:100%;
    transform-style:preserve-3d;
    transition:0.25s;
}
figure:hover div{
    transform:rotateY(180deg);
    unicode-bidi:bidi-override;
    direction:rtl;
}
span{
    /*text-decoration: none;*/
    width:100%;
    height:auto;
    position:absolute;
    box-sizing:border-box;
    /*border:0.3vw solid #666666;*/
    font-family: 'Rafale BG.otf', sans-serif;
    line-height:7vh;
    font-size:2vw;
    text-align:center;
    text-transform:uppercase;

}
span:nth-child(1){
    background-color:#666666;
    color: white;
    font-weight: bold;
    transform: translate3d(0, 0, 25px);
}
span:nth-child(2){

    color:white;
    background-color: #666666;
    font-weight: bold;
    transform: rotateY(180deg) translate3d(0, 0, 25px);

}

span:hover {
    background-color: #be29ec ;
    /*border:0.3vw solid #be29ec;*/
    color: #666666;
}
/*call to action end*/

.skills {
    text-align: center;
}
#top {
bottom : 200px;
right : 20px;
position : fixed;
cursor : pointer;
z-index : 1;
display : none;
background-color : #666666;
padding :20px 40px;
color : #ffffff;
}
