html, body {
    background: #FFFFFF;
    margin: 0;
    padding: 0;
    width: 100%;
}
.container {
    padding: 0 0 0 8%;
    width: 100%;
}

#first {
    margin-top: 5%;
    padding-bottom: 5%;
}
#secend {
    margin-top: 21%;
    padding-bottom: 5%;
}

#third {
    padding-bottom: 5%;
}
#fourth {
   padding-bottom: 5%;
}


/*canvas {*/
    /*position: fixed;*/
/*}*/
.skills {
    text-align: center;
}
#top {
bottom : 200px;
right : 20px;
position : fixed;
cursor : pointer;
z-index : 10;
display : none;
background-color : #666666;
padding :20px 40px;
color : #ffffff;
}

